%div#plan
  %h3 Your Plan
  - if current_user.premium_account_cancel_pending?
    %p Your account will expire on #{@premium_account_expire_date}. You will not be billed again.
  - elsif current_user.premium_account?
    %p You are subscribed to the 1kpl.us service. Your support makes this possible.
    %p
      Not getting your $5 worth?
      = link_to "Click here to cancel your membership", "/charges", :method => :delete, :confirm => "Click ok to cancel your membership", :style => "text-decoration: underline;"
  - else
    %p Subscribe to 1kpl.us to continue using this service. I would love you for that.
    %button#upgrade-button.btn.btn-primary Become a member
    = form_tag "/charges", :id => "upgrade-form" do
      = render :template => "settings/stripe"

%hr
%div#personal-info
  %h3 About you
  %p
  %form.form-horizontal
    %fieldset
      .control-group
        %label.control-label{:for => "name"} Your name:
        .controls
          %input#name{:type => "text", :value => current_user.name}/
          %p.help-block This name will be visible to people that follow you.
      .control-group
        %label.control-label{:for => "email"} Your e-mail:
        .controls
          %input#email.input-xlarge{:type => "text", :value => current_user.email}/
    %div.btn-container
      %a#save-account-info-btn.btn.btn-primary Save
%hr
-#%div#integrated-services
-#  %h3 Socialness
-#  = render "settings/service", :object => @twitter
-#  = render "settings/service", :object => @facebook
