%div#integrated-services
  = render "service", :object => @twitter
  = render "service", :object => @facebook

%br
%br
%div#account
  %form.form-horizontal
    %fieldset
      .control-group
        %label.control-label{:for => "name"} Your name:
        .controls
          %input#name{:type => "text", :value => current_user.name}/
          %p.help-block This name will be visible to people that follow you.
      .control-group
        %label.control-label{:for => "email"} Your e-mail:
        .controls
          %input#email.input-xlarge{:type => "text", :value => current_user.email}/
    %div.btn-container
      %a#save-account-info-btn.btn.btn-primary Save