---
http_interactions:
- request:
    method: post
    uri: https://api.singly.com/oauth/access_token
    body:
      encoding: UTF-8
      string: '{"client_id":"123","client_secret":"123","code":"123","profile":"all"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"App info for 123 not found on Nexus."}'
  recorded_at: Sun, 19 May 2013 19:50:40 GMT
recorded_with: VCR 2.5.0
