---
http_interactions:
- request:
    method: post
    uri: https://api.singly.com/oauth/access_token
    body:
      encoding: US-ASCII
      string: ! '{"client_id":"2777fd2ace469e2f41e6c9ad885e6904","client_secret":"bba62fa3316c31c9da8974605c0cc948","code":"123","profile":"all"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"error":"invalid code, perhaps it was used twice?"}'
  recorded_at: Mon, 25 Mar 2013 05:20:01 GMT
recorded_with: VCR 2.4.0
