---
http_interactions:
- request:
    method: get
    uri: https://api.singly.com/oauth/access_token
    body:
      encoding: UTF-8
      string: '{"client_id":"123","client_secret":"123","code":"123","profile":"all"}'
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: Cannot GET /oauth/access_token
  recorded_at: Thu, 16 May 2013 14:09:55 GMT
- request:
    method: post
    uri: https://api.singly.com/oauth/access_token
    body:
      encoding: UTF-8
      string: '{"client_id":"123","client_secret":"123","code":"123","profile":"all"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"App info for 123 not found on Nexus."}'
  recorded_at: Sat, 18 May 2013 22:45:40 GMT
recorded_with: VCR 2.4.0
