---
http_interactions:
- request:
    method: post
    uri: https://api.singly.com/oauth/access_token
    body:
      encoding: UTF-8
      string: '{"client_id":"123","client_secret":"123","code":"123","profile":"all"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"App info for 123 not found on Nexus."}'
  recorded_at: Sun, 19 May 2013 19:50:33 GMT
- request:
    method: get
    uri: https://api.singly.com/profile?access_token=e8pld35ck69j6vc724lqtrehlip6c0ynbo1qviny
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Invalid OAuth access token."}'
  recorded_at: Sun, 19 May 2013 19:50:35 GMT
recorded_with: VCR 2.5.0
