= render :partial => 'flash', :locals => {:flash => flash}
= render :partial => "follow_requests", :locals => {:follow_requests => @follow_requests}

%div.hero-unit
  - if real_user
    %div#summary-container.row

    %div#hero-action-btns
      %a.btn.btn-primary{:href => "/settings/feeds"} Add feeds
      %a.btn.btn-primary{:href => "/settings/friends"} Invite friends
  - else
    %h1 1kpl.us
    %p This is an RSS and Atom feed reader. Use it to subscribe to your favorite sites, and share and discuss news with friends.
    -#%p With a free account you can follow up to 25 feeds. If you need to follow more than 25 feeds, you'll want to upgrade to a premium plan, for $5 a month. Your support will help to ensure this product is maintained and improved.

    = render "application/login_buttons"

    %div#summary-container.row




