---
http_interactions:
- request:
    method: get
    uri: http://feeds.feedburner.com/zefrank
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/xml; charset=UTF-8
      etag:
      - Ay256cwFBVnRBAnf6A9vSxTt08w
      last-modified:
      - Thu, 28 Mar 2013 20:36:13 GMT
    body:
      encoding: US-ASCII
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<?xml-stylesheet type=\"text/xsl\"
        media=\"screen\" href=\"/~d/styles/rss2full.xsl\"?><?xml-stylesheet type=\"text/css\"
        media=\"screen\" href=\"http://feeds.feedburner.com/~d/styles/itemcontent.css\"?><rss
        version=\"2.0\">\r\n<channel>\r\n<title>ze's page :: zefrank.com</title>\r\n<link>http://www.zefrank.com/</link>\r\n<description
        />\r\n<language>en-us</language>\r\n<copyright>Copyright 2012</copyright>\r\n<lastBuildDate>Thu,
        13 Dec 2012 13:12:21 -0500</lastBuildDate>\r\n<pubDate>Thu, 13 Dec 2012 13:13:29
        -0500</pubDate>\r\n<generator>http://www.movabletype.org/?v=3.34</generator>\r\n<docs>http://blogs.law.harvard.edu/tech/rss</docs>
        \r\n\r\n<atom10:link xmlns:atom10=\"http://www.w3.org/2005/Atom\" rel=\"self\"
        type=\"application/rss+xml\" href=\"http://feeds.feedburner.com/zefrank\"
        /><feedburner:info xmlns:feedburner=\"http://rssnamespace.org/feedburner/ext/1.0\"
        uri=\"zefrank\" /><atom10:link xmlns:atom10=\"http://www.w3.org/2005/Atom\"
        rel=\"hub\" href=\"http://pubsubhubbub.appspot.com/\" /><feedburner:emailServiceId
        xmlns:feedburner=\"http://rssnamespace.org/feedburner/ext/1.0\">zefrank</feedburner:emailServiceId><feedburner:feedburnerHostname
        xmlns:feedburner=\"http://rssnamespace.org/feedburner/ext/1.0\">http://feedburner.google.com</feedburner:feedburnerHostname><item>\r\n<title>little
        kids explain the holidays</title>\r\n<description>&lt;p&gt;&lt;iframe width=\"350\"
        height=\"197\" src=\"http://www.youtube.com/embed/S-HSS3oczV8\" frameborder=\"0\"
        allowfullscreen&gt;&lt;/iframe&gt;&lt;/p&gt;</description>\r\n<link>http://www.zefrank.com/zesblog/archives/2012/12/little_kids_exp.html</link>\r\n<guid
        isPermaLink=\"false\">http://www.zefrank.com/zesblog/archives/2012/12/little_kids_exp.html</guid>\r\n<category
        />\r\n<pubDate>Thu, 13 Dec 2012 13:12:21 -0500</pubDate>\r\n</item>\r\n<item>\r\n<title>[...]
- request:
    method: ''
    uri: http://feeds.feedburner.com/zefrank
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      Etag:
      - Ay256cwFBVnRBAnf6A9vSxTt08w
      Last-Modified:
      - Sat, 20 Apr 2013 22:08:43 GMT
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<?xml-stylesheet type=\"text/xsl\"
        media=\"screen\" href=\"/~d/styles/rss2full.xsl\"?><?xml-stylesheet type=\"text/css\"
        media=\"screen\" href=\"http://feeds.feedburner.com/~d/styles/itemcontent.css\"?><rss
        version=\"2.0\">\r\n<channel>\r\n<title>ze's page :: zefrank.com</title>\r\n<link>http://www.zefrank.com/</link>\r\n<description
        [...]
[...]
